* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    margin-bottom: 2em;
}

header h1 {
    font-size: 2em;
}

.profile {
    width: 600px;
    margin: 2em auto;
    padding: 2em;
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
}

.profile h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile .department {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #555;
}

.profile .student-id {
    font-size: 1em;
    margin-bottom: 1em;
    color: #666;
}

.profile .bio {
    font-size: 1em;
    line-height: 1.8;
    color: #444;
    text-align: left;
    margin-top: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-top: 4em;
}

footer p {
    font-size: 0.9em;
}

